<%- include('partials/header') -%>

<div class="container mt-5">
    <%- include('partials/messages') -%>

    </body>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Time</th>
            <th>Clinic</th>
            <th>Operations</th>
        </tr>
        </thead>

        <tfoot>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Time</th>
            <th>Clinic</th>
            <th>Operations</th>
        </tr>
        </tfoot>

        <% members.forEach((member)=> { %>
            <tr>
                <td><%= member.nameAppointment %></td>
                <td><%= member.ageAppointment %></td>
                <td><%= member.numberAppointment %></td>
                <td><%= member.timeAppointment %></td>
                <td><%= member.clinicAppointment %></td>
                <td>
                    <a class="btn btn-primary" href="/edit/<%= member.id %>">Edit</a>
                    <form style="display: inline;" action="/delete/<%= member.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button style="cursor: pointer;" type="submit" class="btn btn-danger ml-2">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>

        </tbody>
    </table>

</div>
<%- include('partials/footer') -%>